/* dev.css v4, a lightweight CSS framework - https://github.com/intergrav/dev.css */
/* about: tiny, simple, classless CSS framework in the style of Vercel's Geist design system */

/* todo for v4 release
	- finish dev.css-docs and move demo to that site
	- update dev.css preview images
*/

/* table of contents
	1. configurable variables
	2. dark mode variables
	3. color scheme
	4. css reset
	5. margins for most elements
	6. typography
	7. document
	8. header
	9. footer
	10. blockquotes
	11. buttons and inputs
	12. code and keyboards
	13. details
	14. description lists
	15. horizontal rules
	16. fieldsets
	17. tables
	18. lists
*/

/* 1. configurable variables */
/* adjustable by you! see ./theme/boilerplate-auto.css */
:root {
	/* font families */
	--dc-font: "Geist", "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	--dc-font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Consolas,
		"Liberation Mono", Menlo, monospace;

	/* light colors */
	--dc-cs: light; /* light/dark scrollbars, inputs, etc */
	--dc-tx-1: #171717; /* primary text */
	--dc-tx-2: #666; /* secondary text */
	--dc-bg-1: #fff; /* primary background */
	--dc-bg-2: #fafafa; /* secondary background */
	--dc-bg-3: #ebebeb; /* border */
	--dc-lk-1: #005ff2; /* link text */
	--dc-lkb-1: #006bff; /* link button */
	--dc-lkb-2: #0059ec; /* link button hover */
	--dc-lkb-tx: #fff; /* text over link button */
	--dc-ac-1: #a000f8; /* accent color */
	--dc-ac-tx: #fff; /* text over accent color */

	/* dark colors */
	--dc-d-cs: dark;
	--dc-d-tx-1: #ededed;
	--dc-d-tx-2: #a1a1a1;
	--dc-d-bg-1: #0a0a0a;
	--dc-d-bg-2: #000;
	--dc-d-bg-3: #2e2e2e;
	--dc-d-lk-1: #47a8ff;
	--dc-d-lkb-1: #006efe;
	--dc-d-lkb-2: #005be7;
	--dc-d-lkb-tx: #fff;
	--dc-d-ac-1: #9440d5;
	--dc-d-ac-tx: #fff;
}

/* 2. dark mode variables */
/* adjusts variables if the user's browser prefers dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--dc-cs: var(--dc-d-cs);
		--dc-tx-1: var(--dc-d-tx-1);
		--dc-tx-2: var(--dc-d-tx-2);
		--dc-bg-1: var(--dc-d-bg-1);
		--dc-bg-2: var(--dc-d-bg-2);
		--dc-bg-3: var(--dc-d-bg-3);
		--dc-lk-1: var(--dc-d-lk-1);
		--dc-lkb-1: var(--dc-d-lkb-1);
		--dc-lkb-2: var(--dc-d-lkb-2);
		--dc-lkb-tx: var(--dc-d-lkb-tx);
		--dc-ac-1: var(--dc-d-ac-1);
		--dc-ac-tx: var(--dc-d-ac-tx);
	}
}

/* 3. color scheme */
/* adjusts browser color scheme based on variable */
:root {
	color-scheme: only var(--dc-cs);
}

/* 4. css reset */
/* modified from https://www.joshwcomeau.com/css/custom-css-reset */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* 5. margins for most elements */
address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
footer,
form,
hr,
input,
iframe,
img,
main,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
	margin-bottom: 1rem;
}

/* 6. typography */

body {
	font-family: var(--dc-font);
	color: var(--dc-tx-2);
	line-height: 1.5;
}

code,
pre,
kbd,
samp {
	font-family: var(--dc-font-mono);
	font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--dc-tx-1);
	line-height: 1;
	padding-top: 0.5rem;
}

h1,
h2,
h3 {
	margin-bottom: 0.5rem;
	padding-bottom: 0.25rem;
	border-bottom: 1px solid var(--dc-bg-3);
}

article h1,
article h2,
article h3 {
	padding-bottom: none;
	border-bottom: none;
}

h4,
h5,
h6 {
	margin-bottom: 0.25rem;
}

a {
	color: var(--dc-lk-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

mark {
	border-radius: 0.375rem;
	padding: 0.125rem 0.25rem;
	background: var(--dc-ac-1);
	color: var(--dc-ac-tx);
}

::selection {
	background: var(--dc-ac-1);
	color: var(--dc-ac-tx);
}

/* 7. document */

body {
	max-width: 48rem;
	margin: 0 auto;
	padding: 0 1rem;
	background: var(--dc-bg-2);
	overflow-x: hidden;
}

main,
aside {
	padding: 1.5rem;
	background: var(--dc-bg-1);
	border: 1px solid var(--dc-bg-3);
	border-radius: 0.25rem;
}

article {
	padding: 1rem;
	background: var(--dc-bg-2);
	border: 1px solid var(--dc-bg-3);
	border-radius: 0.375rem;
}

article > *:last-child,
aside > *:last-child,
main > *:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 48rem) {
	main {
		margin: -1rem;
		margin-bottom: 0rem;
		background: none;
		border: none;
	}

	aside {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	header {
		background-color: var(--dc-bg-1);
		border-bottom: 1px solid var(--dc-bg-3);
	}
}

aside h1,
aside h2,
aside h3 {
	padding-bottom: 0;
	border-bottom: none;
}

@media only screen and (min-width: 82rem) {
	aside {
		position: absolute;
		left: calc(50% - ((48rem) / 2) - (16rem));
		width: 16rem;
		overflow-y: auto;
	}
}

/* 8. header */

header {
	padding: 1rem calc(50vw - 50%);
	margin: 0 calc(50% - 50vw) 0;
}

header * {
	padding: 0;
	margin: 0;
}

header > *:not(:last-child) {
	margin-bottom: 0.25rem;
}

header h1,
header h2,
header h3 {
	border-bottom: none;
	padding-bottom: 0;
}

header nav ul {
	padding: 0;
}

header nav ul li {
	display: inline-block;
	margin: 0;
}

header nav ul li:not(:first-child)::before {
	content: "• ";
}

@media only screen and (max-width: 48rem) {
	main,
	aside {
		padding: 1rem;
	}
}

/* 9. footer */

footer > *:last-child {
	margin-bottom: 0;
}

footer nav ul {
	padding: 0;
}

footer nav ul li {
	display: inline-block;
	margin: 0;
}

footer nav ul li:not(:first-child)::before {
	content: "• ";
}

/* 10. blockquotes */
blockquote {
	padding: 1.25rem;
	background: var(--dc-bg-2);
	border: 1px solid var(--dc-bg-3);
	border-left: 5px solid var(--dc-bg-3);
	border-radius: 0.375rem;
}

blockquote > *:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

/* 11. buttons and inputs */
a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	padding: 0.25rem 0.75rem;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: var(--dc-lkb-1);
	color: var(--dc-lkb-tx);
	border: 0;
	border-radius: 0.375rem;
	box-sizing: border-box;
	cursor: pointer;
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
	background: var(--dc-lkb-2);
}

textarea,
select,
input {
	padding: 0.25rem 0.5rem;
	margin-bottom: 0.5rem;
	background: var(--dc-bg-2);
	color: var(--dc-tx-2);
	border: 1px solid var(--dc-bg-3);
	border-radius: 0.375rem;
	box-shadow: none;
	box-sizing: border-box;
}

textarea {
	max-width: 100%;
}

input,
progress {
	accent-color: var(--dc-ac-1);
}

/* 12. code and keyboards */
code,
samp,
kbd,
pre {
	background: var(--dc-bg-2);
	border: 1px solid var(--dc-bg-3);
	border-radius: 0.375rem;
	padding: 0.125rem 0.25rem;
	tab-size: 2;
}

kbd {
	border-bottom: 3px solid var(--dc-bg-3);
}

pre {
	padding: 1rem 1.5rem;
	max-width: 100%;
	overflow: auto;
}

pre code {
	padding: 0;
	border: 0;
}

/* 13. details */
details {
	padding: 0.5rem 1rem;
	background: var(--dc-bg-2);
	border: 1px solid var(--dc-bg-3);
	border-radius: 0.375rem;
}

summary {
	cursor: pointer;
	font-weight: bold;
}

details[open] summary {
	margin-bottom: 0.5rem;
}

details[open] > *:first-child {
	margin-top: 0;
	padding-top: 0;
}

details[open] > *:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

/* 14. description lists */
dt {
	font-weight: bold;
}

dd::before {
	content: "→ ";
}

/* 15. horizontal rules */
hr {
	border: 0;
	border-bottom: 2px solid var(--dc-bg-3);
}

/* 16. fieldsets */
fieldset {
	margin-top: 1rem;
	padding: 2rem;
	border: 1px solid var(--dc-bg-3);
	border-radius: 0.375rem;
}

legend {
	padding: auto 0.5rem;
}

/* 17. tables */
table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid var(--dc-bg-3);
	text-align: left;
	padding: 0.5rem;
}

th {
	background: var(--dc-bg-2);
}

tr:nth-child(even) {
	background: var(--dc-bg-2);
}

table caption {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

/* 18. lists */
ol,
ul {
	padding-left: 2rem;
}

li {
	margin-top: 0.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}
