/* theme for dev.css v3, a classless CSS framework - https://github.com/intergrav/dev.css */
/* about: a template that you can modify, but with an automatic light/dark mode */
/* note: you can remove lines that you want to keep as the dev.css default, such as the font lines */

:root {
	/* font families */
	--dc-font-sans: sans-serif; /* sans serif */
	--dc-font-mono: monospace; /* monospace */

	/* light colors */
	--dc-cs: light; /* light/dark scrollbars, inputs, etc */
	--dc-tx-1: #000000; /* primary text */
	--dc-tx-2: #1a1a1a; /* secondary text */
	--dc-bg-1: #fafafa; /* main background */
	--dc-bg-2: #fff; /* secondary background */
	--dc-bg-3: #ebebeb; /* outlines */
	--dc-lk-1: #0068d6; /* link text */
	--dc-lkb-1: #0072f5; /* link button background */
	--dc-lkb-2: #0062d1; /* link button background (hover) */
	--dc-lkb-tx: #ededed; /* link button text */
	--dc-ac-1: #8e4ec6; /* accent color */
	--dc-ac-tx: #ededed; /* accent color text */

	/* dark colors */
	--dc-d-cs: dark;
	--dc-d-tx-1: #ededed;
	--dc-d-tx-2: #a1a1a1;
	--dc-d-bg-1: #000;
	--dc-d-bg-2: #0a0a0a;
	--dc-d-bg-3: #2e2e2e;
	--dc-d-lk-1: #52a8ff;
	--dc-d-lkb-1: #0072f5;
	--dc-d-lkb-2: #0062d1;
	--dc-d-lkb-tx: #ededed;
	--dc-d-ac-1: #8e4ec6;
	--dc-d-ac-tx: #ededed;
}

@media (prefers-color-scheme: dark) {
	:root {
		--dc-cs: var(--dc-d-cs);
		--dc-tx-1: var(--dc-d-tx-1);
		--dc-tx-2: var(--dc-d-tx-2);
		--dc-bg-1: var(--dc-d-bg-1);
		--dc-bg-2: var(--dc-d-bg-2);
		--dc-bg-3: var(--dc-d-bg-3);
		--dc-lk-1: var(--dc-d-lk-1);
		--dc-lkb-1: var(--dc-d-lkb-1);
		--dc-lkb-2: var(--dc-d-lkb-2);
		--dc-lkb-tx: var(--dc-d-lkb-tx);
		--dc-ac-1: var(--dc-d-ac-1);
		--dc-ac-tx: var(--dc-d-ac-tx);
	}
}
