/* theme for dev.css v3, a classless CSS framework - https://github.com/intergrav/dev.css */
/* about: makes it always light, regardless of device setting */

:root {
	/* colors */
	--dc-cs: light;
	--dc-tx-1: #000000;
	--dc-tx-2: #1a1a1a;
	--dc-bg-1: #fafafa;
	--dc-bg-2: #fff;
	--dc-bg-3: #ebebeb;
	--dc-lk-1: #0068d6;
	--dc-lkb-1: #0072f5;
	--dc-lkb-2: #0062d1;
	--dc-lkb-tx: #ededed;
	--dc-ac-1: #8e4ec6;
	--dc-ac-tx: #ededed;
}
