/* addon for dev.css v3, a classless CSS framework - https://github.com/intergrav/dev.css */
/* about: turns the header into a sidebar if the viewport is wide enough */
/* warn: if using with the header-sticky or header-oneline addon, be sure to include this after it */

@media (min-width: 84rem) {
	header {
		all: unset;
	}

	header * {
		margin-top: 0;
		margin-bottom: 0.25rem;
	}

	header {
		padding: 3rem 2rem;
		padding-right: 0;
		position: fixed;
		top: 0;
		left: calc(50% - ((48rem + 4rem) / 2) - (16rem));
		width: 16rem;
		height: calc(100% - 6rem);
		overflow-y: auto;
	}

	header nav ul {
		padding-left: 1rem;
		border-top: 1px solid var(--dc-bg-3);
		padding-top: 1rem;
		margin-top: 0.75rem;
	}

	header nav ul li {
		display: list-item;
	}

	header nav ul li:not(:first-child)::before {
		content: unset;
	}

	/* hacky: reset stuff to default incase you are using header-oneline.css */
	h1 {
		font-size: 2rem !important;
	}

	h2 {
		font-size: 1.5rem !important;
	}

	h3 {
		font-size: 1.17rem !important;
	}

	h4,
	p,
	a {
		font-size: 1rem !important;
	}

	h5 {
		font-size: 0.83rem !important;
	}

	h6 {
		font-size: 0.67rem !important;
	}

	header nav {
		font-size: 1rem !important;
	}

	header h2 header h3,
	header h4,
	header h5,
	header h6 {
		color: var(--dc-tx-1);
		font-weight: bold;
	}

	header h1,
	header h2,
	header h3,
	header h4,
	header h5,
	header h6 {
		white-space: normal;
		line-height: 1;
	}

	header h2::after,
	header h3::after,
	header h4::after,
	header h5::after,
	header h6::after {
		content: unset;
	}
}
