/* header-oneline for dev.css v4, a lightweight CSS framework - https://github.com/intergrav/dev.css */
/* about: makes the header much more compact by sorting horizontally, good with header-sticky addon */
/* note: will hide most elements in header other than img, h1-6, nav, and button */

header * {
	font-size: 1rem;
	line-height: 1;
	margin: 0;
	padding: 0;
	margin-bottom: 0 !important;
}

header {
	display: flex;
	gap: 1rem;
	padding: 0.75rem calc(50vw - 50%);
	margin: 0 calc(50% - 50vw) 0;
}

header > *:not(img, h1, h2, h3, h4, h5, h6, nav, button) {
	display: none;
}
